.shop-header {
  padding: 60px 10% 0;
}
.title {
  margin: 0 1rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.products-action {
  margin: 1em;
  position: relative;
  display: block;
}

.filter,
.sort {
  display: inline;
}
.filter-option,
.sort-option {
  margin: 0 10px;
}
.search-form-field {
  position: absolute;
  right: 0;
  bottom: -25px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

  gap: 3rem;
  align-items: center;
  padding: 5% 12% 0;
}

.product {
  overflow: hidden;
  border: solid 2px var(--warm-background-color);
  background-color: var(--warm-background-color);
}
