.shop-header {
  padding: 60px 10% 0;
}
.title {
  margin: 0 1rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.products-action {
  margin: 1em;
  position: relative;
  display: block;
}

.filter,
.sort {
  display: inline;
}
.filter-option,
.sort-option {
  margin: 0 10px;
}
.search-form-field {
  position: absolute;
  right: 0;
  bottom: -25px;
}

// .products-list {
//   margin: 0 8em;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: flex-start;
//   gap: 4.3em;
// }
.products-list {
  padding: 50px 12% 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-template-rows: 400px;
  // grid-auto-rows: minmax(100px, 500px);
  justify-content: flex-start;
  gap: 5rem;
  align-items: center;
}
