@import '../../../../styles/buttons';
.img-container {
  padding-bottom: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // max-height: 100%;
}
.img-container img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

h5 {
  font-size: 12px;
  font-weight: 300;
}

.product-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.inbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  margin-top: 0;
}

.add {
  @include button-default(3rem, 2rem);
  border: none;
}
.add mat-icon {
  padding-left: 0.5rem;
}
