:root {
  --primary-color: #fcff80;
  // --primary-color: #f4f844;

  --secondary-color: #2c2f2c;
  --accent-color: #ff7528;
  --background-color: #ecf0f1;
  --text-color: #000000;
  --btn-hover-color: #e7e97d;
  --btn-click-color: #d1d36a;
  --drop-shadow-color: rgba(184, 184, 184, 0.2);
  --border-color: #868686;
}
