<div class="signup-form">
  <h1>Signup</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  
    <div class="form-control">
      <label for="fName" >First Name: </label>
      <input type="text" id="fName" formControlName="firstName" placeholder="John" required>
    </div>
  
    <div class="form-control">
      <label for="lName" >Last Name: </label>
      <input type="text" id="lName" formControlName="lastName" placeholder="Smith" required>
    </div>

    <div class="form-control">
      <label for="email" >Email: </label>
      <input type="text" id="email" formControlName="email" placeholder="Email" required>
    </div>
  
    <div class="form-control">
      <label for="password" >Password: </label>
      <input type="password" id="password" formControlName="password" placeholder="********" required>
    </div>
  
    <div class="form-control">
      <button type="submit" [disabled]="signupForm.invalid">Signup</button>
    </div>
  </form>
  <p>Already have an account? <a routerLink="/login"> Login here</a></p>
  </div>