table {
}
.example-first-footer-row {
  font-weight: bold;
  font-size: large;
}
.example-first-header-row th {
  // border-bottom: none;
  font-weight: bold;
  font-size: larger;
}

.example-second-header-row {
  font-style: italic;
}

.example-second-footer-row td {
  font-style: italic;
}
.product-info {
  display: flex;
  align-items: center;
}
.product-header-cell {
  padding: 0 2.5em;
}
.product-image {
  width: 100px;
  padding: 2em;

  margin-right: 10px;
  object-fit: cover;
}
