<!-- <app-view-card class="card"></app-view-card> -->
<section class="home">
  <div class="home-text">
    <h3>JUST LANDED!</h3>
    <h1>Disccover new brand</h1>
    <button class="discover-btn">Discover now</button>
  </div>

  <!-- <div class="home-cover">
    <img src="../../../../../assets/cover-page.jpg" />
  </div> -->
</section>

<section class="just-landed">
  <h2>Just landed <span>Products</span></h2>
  <app-just-landed-products></app-just-landed-products>
</section>

<section class="categories">
  <h2>Discover more <span>Categories.</span></h2>
  <app-categories></app-categories>
</section>

<section class="sale">
  <!-- <h2>Back to school <span>Sale.</span></h2> -->
  <app-sale-products></app-sale-products>
</section>
