<!-- <app-view-card class="card"></app-view-card> -->
<section class="home">
  <div class="home-text">
    <h3><span>Aïah</span> JUST LANDED!</h3>
    <h1>Discover new brand <span>-</span></h1>
    <button class="discover-btn" (click)="onDiscoverNow()">Discover now</button>
  </div>
</section>

<section class="just-landed">
  <h2>Just landed <span>Products.</span></h2>
  <app-just-landed-products></app-just-landed-products>
</section>

<section class="categories">
  <h2>Discover more <span>Categories.</span></h2>
  <app-categories></app-categories>
</section>

<section class="sale">
  <!-- <h2>Back to school <span>Sale.</span></h2> -->
  <app-sale-products></app-sale-products>
</section>

<section id="about-us">
  <h2>About <span>us.</span></h2>
  <div class="about-container">
    <img src="../../../../../assets/hug.png" />
    <div>
      Started in the <span>university's dorms</span>, Aiah and I became fast
      friends. Aiah, a passionate <span>pharmacy student</span>, always
      envisioned running her own e-pharmacy. As a computer engineering student,
      I was thrilled to help make her dream a reality. Today, we offer more than
      just skincare and health products; our diverse selection caters to all
      your needs. Welcome to our e-comunity, where our journey together brings
      you a wide range of quality products and exceptional service.
    </div>
  </div>
</section>
