mat-grid-list {
  margin-top: 5rem;
}
mat-grid-tile {
  background-color: var(--background-color);
}
.tile-content {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // align-items: center;
  // gap: 1rem;
  max-height: 100%;
  padding: 0.5rem;
  box-sizing: border-box;

  .tile-title {
    font-size: 1.2rem;
    color: black;
    font-weight: bolder;
  }

  // .tile-image {
  //   height: 100%;
  //   img {
  //     max-height: 100%;
  //     width: auto;
  //     object-fit: cover;
  //   }
  // }
}
