nav {
  height: fit-content;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;

  align-items: center;
  padding: 0.5rem 3%;
  position: relative;
}
.hidden-links-menu {
  display: none;
  a {
    text-decoration: none;
  }
}
.links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  a {
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--font-small);

    &:hover {
      color: var(--border-color);
    }

    &:active {
      color: var(--accent-color);
      font-weight: bolder;
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  img {
    max-height: 60px;
    object-fit: contain;
  }
  .logo-name {
    display: flex;
    flex-direction: column;
    font-size: var(--font-normal);
    font-weight: 600;
    div {
      height: 20px;
      width: fit-content;
    }
  }
  align-self: center;
  &:hover {
    cursor: pointer;
  }
}

.icons {
  justify-self: flex-end;

  align-self: flex-end;
  display: flex;
  gap: 0.5rem;

  mat-icon {
    font-size: var(--font-large);
  }
  button {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(0.95);
    }
  }
}

@media (max-width: 1000px) {
  // nav {
  //   grid-template-columns: 1fr 1fr;
  // }
  .links {
    display: none;
  }
  .hidden-links-menu {
    display: block;
    a {
      text-decoration: none !important;
    }
  }
}
