<div class="sale-poster">
  <div class="poster-text">
    <h2>Special offers for back to school!</h2>
    <h1>UP TO 50% OFF</h1>
    <h3>Use your <span>university's discount code </span> on checkout!</h3>
  </div>
  <button class="see-all-btn">See All</button>
</div>

<div class="sale-products">
  <app-view-card class="product"></app-view-card>
  <app-view-card class="product"></app-view-card>
  <app-view-card class="product"></app-view-card>
  <app-view-card class="product"></app-view-card>
  <app-view-card class="product"></app-view-card>
</div>
