@import '../../../../../styles/buttons';

.sale-poster {
  // padding: 100px 5% 70px;
  background-color: var(--background-color);
  background-size: cover;

  // background-image: url(../../../../../assets/Words-copy.jpeg);
  // background-position: right;
  // background-size: contain;
  // background-repeat: no-repeat;
  background-color: #f5f1f2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: auto;
}

.poster-text {
  padding-left: 10%;
  h1,
  h2,
  h3 {
    margin: 0;
  }
  h1 {
    font-size: var(--font-large);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    span {
      color: var(--accent-color);
      border-bottom: solid 5px var(--accent-color);
      font-size: var(--font-xx-large);
    }
  }
}

.see-all-btn {
  margin-top: 2rem;
  border-style: none;
  @include button-default(8rem, 3rem);
  font-size: 1rem;
}
.sale-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 4rem;
  align-items: center;
  margin-top: 5rem;
}

.product {
  background-color: var(--background-color);
}
h2 {
  font-size: var(--font-normal);
  span {
    color: white;
    background-color: black;
    padding: 0 3px;
  }
}
h3 {
  color: var(--accent-color);
  padding: 0 5px;
  font-size: var(--font-normal);
  span {
    background-color: var(--primary-color);
  }
}

@media (max-width: 900px) {
  .sale-poster {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
  }

  .img-container {
    order: 2;
  }

  .poster-text {
    order: 1;
    padding: 2rem;
  }
}
